/*GENERAL*/
*{
	margin-bottom: -2.3px;
	margin-top: 0px;
}

body{
	background-color: #650809;
}

h1{
    font-family: 'Great Vibes', cursive;
	font-size: 4em;
}

h1, h2, h3, h4, legend{
	color: #A94C0F;
}

p, li, th, a{
	color: #9D9175;
}

a{
	text-decoration: none;
}

em{
	font-style: italic;
	text-transform: uppercase;
	/*BRON CODE: https://css-tricks.com/almanac/properties/t/text-transform/*/
}

img, nav.menu, main, footer, iframe, video{
	border: solid 1px #9D9175;
	background-color: #2A1B18;
}

header, footer{
	min-height: 5em;
	margin: 0px 5% 0px 5%;
}

/*HEADER*/
header{
	margin-top: 3%;
}

.header-top{
	display: flex;
	justify-content: space-between;
}

img.logo{
	width: 40%;
	min-height: 50px;
	padding: 5px 60px 5px 60px;
	background-color: #2A1B18;
	border-bottom: 0px;
	border-radius: 15px 50px 0px 0px;
	margin-bottom: 0px;
}

a.bronbutton, a.bronbuttonfooter{
	height: 1.5em;
	width: 7em;
	padding: 0em 0.5em 0em 0.5em;
	text-align: center;
	color: #A94C0F;
	background-image: linear-gradient(#9D9175, #93877D);
	border: solid 1px black;
	border-radius: 15px;
	text-transform: uppercase;
}

a.bronbutton:hover, a.bronbuttonfooter:hover{
	box-shadow: 2px 2px #A94C0F;
}

/*HEADER NAVIGATIONMENU*/
nav.menu{
	margin: 0px;
	background-color: #2A1B18;
	border-radius: 0px 15px 0px 0px;
}

nav.menu ul{
	padding:5px;
	list-style:none;
	display:flex;
	flex-wrap: wrap;
}

nav.menu li{
	position: relative;
	flex:1;
}

nav.menu a{
	display: block;
	padding: 20px;
	margin: 20px;
	text-align: center;
	color: #A94C0F;
	background-image: linear-gradient(#9D9175, #93877D);
	border: dotted 1px black;
	border-radius: 10px;
	text-transform: uppercase;
}

nav.menu li:hover > a{
	box-shadow: 2px 2px #A94C0F;
}

/*RESIZE HEADER FOR MOBILE*/
@media screen and (max-width:500px){	
	a.bronbutton{
		display: none;
	}

	nav.menu li{
		display: block; 
		text-align: center;
		margin: 2px;
		font-size: 14px;
	}

	img.logo{
		padding: 0px 15px 0px 15px;
		width: 70%;
	}

	nav.menu a{
		display: block;
		padding: 2px;
		margin: 0px;
		border: dotted 0px;
		text-transform: uppercase;
	}
}

/*MAIN CENTRAL*/
main{
	background-color: #2A1B18;
	border-top: 0px;
	border-bottom: 0px;
	margin: 0 5% 0 5%;
	min-height: 500px;
}

article{
	color: black;
	padding: 2em;
	margin: 0px auto;
	margin-top: 0px;
	max-width: 80%;
}

article > header{
	margin-top: 0;
	text-align: center;
	margin-bottom: 2em;
}

article > header > hr{
	margin-top: 2em;
	width: 100%;
	color: #A94C0F;
	background-color: #A94C0F;
	height: 3px;
}

article > h2, article > h3, article > h4{
	margin-top: 1em;
}

/*RESIZE GENERAL TAGS FOR MOBILE*/
@media screen and (max-width:500px){
	main, footer, article, header, body{
		margin: 0px;
	}
}

/*HOMEPAGE*/
img.indexpicture{	
	display: block;
	width: 100%;
	border-radius: 15px;
	margin-top: 2em;
}

img.kippelingimg{
	width: 40%;
	display: block;
	margin: 0 auto;
	border: none;
}

/*MENUPAGE*/
article.menupage > ul{
	list-style: none;
	margin-top: 2em;
	display: flex;
	flex-direction: column;
}

article.menupage > ul > li > h2{
	min-width: 20%;
	max-width: 20%;
}

article.menupage > ul > li{
	margin: 1em;
	margin-right: 3em;
	padding-left: 1em;
	padding-top: 1em;
	min-height: 10em;
	border: 2px dotted #9D9175;
	border-radius: 10px;
	display: flex;
	justify-content: space-between;
	/*flex-shrink: scroll;*/
}

img.foodmenuimg{
	width: 30%;
	max-width: 15em;
	max-height: 6.5em;
	background-color: transparent;
	border-radius: 10px;
	margin: 1em;
	box-sizing: border-box;
}

/*RESIZE MENUPAGE FOR MOBILE*/
@media screen and (max-width:500px){
	article.menupage ul{
	padding: 0px;
	}

	article.menupage > ul > li{
	margin: 0px;
	margin-bottom: 1em;
	padding: 0px;
	border: 0px;
	border-bottom: 2px solid #A94C0F;
	flex-direction: column;
	}

	article.menupage > ul > li > h2{
	max-width: 100%;
	}

	img.foodmenuimg{
		height: 7em;
		width: 12em;
		margin: 1em auto;
	}	
}

/*IMPRESSIEPAGE*/
/*BRON CODE: https://youtu.be/OOy764mDtiA*/
div.videowrapper{
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0px;
}

div.videowrapper iframe{
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	height: 100%;
	width: 100%;
	border-radius: 30px;
}

/*CONTACTPAGE*/
img.patrickmeme{
	min-width: 5em;
	max-width: 30%;
	float: right;
	border-radius: 15px;
}

form > input, form > textarea, fieldset{
	border: 2px solid #9D9175;
	background-color: #2A1B18;
	color: #9D9175;
	border-radius: 5px;
}

form > input, form > textarea{
	width: 100%;
	margin-bottom: 1em;
}

fieldset{
	margin-top: 1em;
	width: 50%;
	max-width: 80%;
}

/*CONTACTPAGE MAPS*/
article.contactpage_article > iframe{
	width: 100%;
	height: 600px;
	border-radius: 30px;
	box-sizing: border-box;
}

/*RESIZE MAPS FOR MOBILE*/
@media screen and (max-width:500px){
	article.contactpage_article > iframe{
		margin-left: -6%;
		width: 120%;
		height: 300px;
	}
}

/*BRONNENPAGE*/
article.bronarticle li > a:hover{
	border: 1px dotted #A94C0F;
	border-radius: 5px;
}

/*FOOTER*/
footer{
	border-radius: 0px 0px 15px 15px;
	margin-top: 0px;
	margin-bottom: 5%;
}

footer > p{
	padding-top: 1em;
	text-align: center;
	font-style: italic;	
}

